.topnav {
  left: 0;
  right: 0;
  top: 20px;
  height: 130px;
  z-index: 999;
  position: fixed;
}
.topnav ul {
  padding: 12px 0;
  margin-left: 30px;
  text-align: center;
}
.topnav ul li {
  font-size: 14px;
  padding: 0 15px;
  position: relative;
  display: inline-block;
}
.topnav ul li a {
  color: #007ba3;
  text-decoration: none;
}
.topnav ul li a:hover {
  text-decoration: underline;
}
.topnav ul li:first-child:after {
  display: none;
  visibility: hidden;
}
.topnav ul li:after {
  left: -4px;
  top: 6px;
  content: '';
  width: 4px;
  height: 3px;
  background: url("../img/point.png") 0 0 no-repeat;
  font-size: 14px;
  position: absolute;
}
.topnav .logo {
  top: 44px;
  left: 47px;
  width: 308px;
  height: 54px;
  position: absolute;
  background: url("../img/logo.png") 0 0 no-repeat;
}
.topnav .header-callback {
  top: 43px;
  right: 2px;
  z-index: 200;
  position: absolute;
}
.topnav .tel {
  top: 46px;
  left: 400px;
  padding-bottom: 15px;
  color: #126ea0;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  position: absolute;
}
.topnav.bg {
  top: 0;
  background: #ffffff;
}
